<prizm-tree
*ngFor="let item of service.data$ | async"
[prizmTreeController]="false"
[map]="map"
[value]="item"
[childrenHandler]="childrenHandler"
[content]="content"
(toggled)="onToggled($event)"
></prizm-tree>

<ng-template #content let-item>
<prizm-loader class="loader" *ngIf="item === loading; else text" [showLoader]="true" [overlay]="true"
  >Подгрузка</prizm-loader
>
<ng-template #text>
  <prizm-checkbox [ngModel]="item | prizmMapper : getValue : map" ngDefaultControl (ngModelChange)="onChecked(item, $event)">
    <span >{{ item.name }}</span>
  </prizm-checkbox>
</ng-template>
</ng-template>